html {
	background: #250a08;
	cursor: default;
}

::selection {
	color: #dbd374;
	background: #250a08;
	border-radius: 4rem;
}

.App {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 2rem;
	color: #dbd374;
	text-align: center;
	font: 1rem Courier;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.map {
	height: 20rem;
	border: 0.1rem dotted #fcd091;
}

a {
	text-decoration: none;
	color: #250a08;
	background: rgba(224, 233, 107, 0.7);
	padding: 1rem;
	margin-left: 1rem;
	border-radius: 0.4rem;
}
a:hover {
	background: rgba(224, 233, 107);
}
