.newPerson {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 1rem;
	margin: 1rem;
	width: 40rem;
}

.newPerson input,
.newPerson select,
.newPerson option {
	padding: 0.5rem;
	font-size: 1.5rem;
	background: transparent;
	color: lightgreen;
	text-align: center;
	border: 0.1rem solid lightgreen;
	outline: none;
}
.newPerson input::placeholder {
	color: rgb(33, 63, 33);
}

.newPerson select {
	width: 19.5rem;
}
.newPerson option {
	background: rgb(33, 63, 33);
}

.newPerson button {
	margin: 1rem;
	padding: 0.4rem;
	color: #250a08;
	background-image: linear-gradient(to right, rgb(58, 104, 58), rgb(60, 126, 60), lightgreen);
	border: none;
	outline-color: rgb(9, 19, 9);
}
.newPerson button:hover {
	color: rgb(209, 209, 108);
}
